@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
div {
    box-sizing:border-box;
    display: block;
}
header{
    height:50px;
    display: flex;
    justify-content: center;
    background: #212529;
}
.header-a{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;

    font-weight:bold;
    
}
.header-div-data{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

.div-master-menu{
    display:flex;
    justify-content: flex-start;
    width:90%;
    box-sizing: border-box;
    
}
.div-master-menu-1{
box-sizing: border-box;
}

.menu-logingroup-div{
    display: flex;
    justify-content: space-between;
  
    
}
nav{
    position: relative;
    box-sizing: border-box;
    border-top:solid 1px #a0a0a0;;
    display: flex;
    justify-content: center;
    height:50px;
    background: #212529;
}
.menu-ul-a:hover{color:#AFFFEE;}

a{text-decoration:none; color:white;}
.menu-ul-div{
    display: flex;
    display: row;
    width: 600px;
    height:50px;
    box-sizing: border-box;
    align-items:center;
    
}
.menu-ul{
    
     display: flex;
    
    width:600px;

}
.menu-ul li{
    font: bold 12px;
    box-sizing: border-box;
    padding:10px 23px;
    width :100px;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
.menu-ul-li:hover{
    background: black;
}
.div-master-menu-1{
    width:100%;
}

.loginmember-div-master{
    box-sizing: border-box;
    display:flex;
    width :300px;
    justify-content: flex-end;
    align-content : center;
}
.loginmember-div-master-1{
    box-sizing: border-box;
    display:flex;
    width :300px;
    justify-content: flex-end;
    
}

.loginmember-span{
    box-sizing: border-box;
     display: flex;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    flex-direction: row;
    align-items:center;
}

.login-a{
    
  
    font-size: 14px;
    margin : 5px;
    padding : 10px;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
    border-radius: 10px 10px 10px 10px
}
.login-a:hover{
    background:#AFFFEE;
    cursor: pointer; 
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;

}
.point-a{
    font-family: 'Nanum Gothic',sans-serif;
}
