.login-section{
    background: #212529;
    display: flex;
    justify-content: center;
    align-items:center;
    height :700px;
}
.container{
    
    height : 600px;
    width :600px;
}
.login-div{
    
    height : 600px;
    width :600px;
}
.login-div-1{
    background: white;
    display: flex;
    flex-direction: column;

    align-items:center;
   box-shadow: 1px 2px 3px 3px;
    margin : 10px;
}
hr{
    width :90%;
    border: 1px solid #ececec;
}
.row1{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.lginput{
    width:500px;
    margin :10px;
    height:50px;

    background: none;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: none;
    -webkit-transition: none;
    color: #a0a0a0;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    font-family: Noto Sans KR,Raleway,Arial,sans-serif;
    line-height: 1.428571429;
    padding: 6px 12px;
    
}
.form-group{
    position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.input-icon{
    position:absolute;
    width:40px;
    height:40px;
    right:15px;
    top:20px;
    
    border-left: solid 1px #ececec;
    font-size:35px;
}
.fa-address-card{
    width:40px;
    height:40px;
}
.pass-card{
    width:33px;
    height:33px;
}
.login-button{
    color:white;
    width:450px;
    margin : 1px;
    font-size: 18px;
    font-weight:bold;
    margin : 5px;
    padding : 10px;
    transition:width 1s, height 1s, background-color 1s, transform 1s;
    border-radius: 5px 5px 5px 5px;
    background: #00EBFF ;
    font-style: "돋움";
    border:0;
    outline:0;
    
}
.login-button:hover{
    background:black;
    cursor: pointer; 
    
    color:white;

}
.regi-button{
    color:#00EBFF;
    width:450px;
    margin : 1px;
    font-size: 18px;
    font-weight:bold;
    margin : 5px;
    padding : 10px;
    transition:width 1s, height 1s, background-color 1s, transform 1s;
    
    background: white ;
    font-style: "돋움";
    border:0;
    outline:solid 1px #00EBFF;
    

    
}
.regi-button:hover{
    background:#00EBFF;
    cursor: pointer; 
    color:white;

}
.small a{
    color: blue;
}